<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.scoreli.liveticker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".loginregister.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginregister.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".loginregister.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".AnzeigeActivity"
            android:label="@string/title_activity_anzeige"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".SteuerungActivity"
            android:label="@string/title_activity_steuerung"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SpieleActivity"
            android:label="@string/title_activity_spiele"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NeuesSpielActivity"
            android:label="@string/title_activity_neues_spiel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImSpielActivity"
            android:label="@string/title_activity_ImSpiel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".bluetooth.GepaarteBtActivity"
            android:label="@string/title_activity_gepaarte_bt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Bluetoothtest"
            android:label="@string/title_activity_bluetoothtest"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_bluetoothtest"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SpieleAuflistungTTActivity"
            android:label="@string/title_activity_spiele_auflistung_tt"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>